# .gitignore 
src/node_modules/
src/node_modules/sqlite/build/Database.d.ts
src/node_modules/sqlite/build/Database.js
src/node_modules/sqlite/build/Database.js.map
src/node_modules/sqlite/build/index.d.ts
src/node_modules/sqlite/build/index.js
src/node_modules/sqlite/build/index.js.map
src/node_modules/sqlite/build/index.mjs
src/node_modules/sqlite/build/interfaces.d.ts
src/node_modules/sqlite/build/interfaces.js
src/node_modules/sqlite/build/interfaces.js.map
src/node_modules/sqlite/build/Statement.d.ts
src/node_modules/sqlite/build/Statement.js
src/node_modules/sqlite/build/Statement.js.map
src/node_modules/sqlite/build/utils/format-error.d.ts
src/node_modules/sqlite/build/utils/format-error.js
src/node_modules/sqlite/build/utils/format-error.js.map
src/node_modules/sqlite/build/utils/migrate.d.ts
src/node_modules/sqlite/build/utils/migrate.js
src/node_modules/sqlite/build/utils/migrate.js.map
src/node_modules/sqlite/build/utils/strings.d.ts
src/node_modules/sqlite/build/utils/strings.js
src/node_modules/sqlite/build/utils/strings.js.map
src/node_modules/sqlite/build/vendor-typings/sqlite3/index.d.ts
src/node_modules/sqlite/CHANGELOG.md
src/node_modules/sqlite/LICENSE
src/node_modules/sqlite/package.json
src/node_modules/sqlite/README.md
src/node_modules/.bin/color-support
src/node_modules/.bin/mime
src/node_modules/.bin/mkdirp
src/node_modules/.bin/node
src/node_modules/.bin/node-gyp
src/node_modules/.bin/node-pre-gyp
src/node_modules/.bin/node-which
src/node_modules/.bin/nopt
src/node_modules/.bin/rimraf
src/node_modules/.bin/semver
src/node_modules/make-dir/node_modules/.bin/semver
src/node_modules/mime/cli.js
src/node_modules/mime/src/build.js
src/node_modules/node/bin/node
joeDatabase.sqlite
