/* chat */
.messages {
  background-color: white;
  overflow: hidden;
  font-size: 1em;
}
.messages li {
  display: block;
  float: initial;
  color: rgb(36, 36, 36);
  width: 500px;
  background-color: #fcd2e6;
}

.chatArea {
  width: 500px;
  display: inline-block;
  background-color: #f7c1d9;
  border-radius: 30px;
}

#bigBox{
  display: flex;
  flex-direction: row;
}

#leftSide {
    display:flex;
    background-color: #f7c1d9;
    flex-direction: column;
    width: 300px;
    min-height: 100vh;
    flex-grow: 1;
} 

#rigthSide {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
} 

#messages{
  display: flex;
  flex-direction: column;
}