/*Chat */
.chatPage{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bigBox {
  display: flex;
  width: 100%;
  margin-top: 4pc;
  flex-direction: row;
}

#leftSide {
  display: flex;
  background-color: #f7c1d9;
  height: 100%;
  flex-grow: 1;
}

#rigthSide {
  display: flex;
  height: 100%;
  flex-grow: 4;
  flex-direction: column;
}
/*
.messages {
  background-color: white;
  overflow: hidden;
  font-size: 1em;
}
.messages li {
  display: block;
  float: initial;
  color: rgb(36, 36, 36);
  width: 500px;
  background-color: #fcd2e6;
}

.chatArea {
  width: 500px;
  display: inline-block;
  background-color: #f7c1d9;
  border-radius: 30px;
}

#messages {
  display: flex;
  flex-direction: column;
}*/
